/**--------------------------------------------STYLES--------------------------------------------**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

.container-fluid {
    display: grid;

}

/**------------BODY------------**/
body {
    font-family: Georgia, Times, serif;
}

/**------------HEADER------------**/
header {
    top: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    position: fixed;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(75, 97, 41));
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 300px;
    justify-content: flex-start;
}

.nav-bar {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding-right: 20px;
    font-weight: 600;
    gap: 40px;
    font-size: larger;

}

.nav-bar li a {
    text-decoration: none;
    color: rgb(35, 56, 29);
    text-shadow: 0 0 1em rgb(9, 10, 7);
}

.nav-bar li a:hover {
    color: rgb(0, 0, 0);
}


/**------------MAIN------------**/
main {
    background-image: url(../assets/img/desktop.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;


}

.container h1 {
    padding-right: 15px;
    color: rgb(17, 19, 17);
    font-size: 40px;
    margin-top: 20px;
}

.parrafo p {
    margin: 50px;
    width: 700px;
    padding-right: 300px;
    font-size: larger;
}

.boton button {
    font-weight: 800;
    font-size: larger;
    padding: 20px 20px;
    background-color: rgb(153, 172, 145);
    border-radius: 8px;
}

.boton button a:hover {
    color: rgb(0, 0, 0);
}

.boton button a {
    color: rgb(35, 56, 29);
    text-decoration: none;
}

/**------------MAIN NOSOTROS------------**/
.nosotros-main {
    background-image: url(../assets/img/ll.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

}

.banner-index h1 {
    margin-right: 700px;
    font-size: 40px;
    margin-top: 30px;

}

.articulo-1 {
    margin: 30px;
    margin-right: 250px;

}

.articulo-1 h2 {
    margin-right: 170px;
}

.articulo-2 {
    margin: -50px;
    margin-left: 500px;

}

.articulo-2 h3 {
    margin-left: 200px;
}


/**------------FOOTER------------**/
footer {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    background-image: linear-gradient(rgb(75, 97, 41), rgb(255, 255, 255));
    height: 45px;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-text h5 {
    font-size: medium;
    color: rgb(35, 56, 29)
}

.footer-img a {
    gap: 60px;
    align-items: center;
    margin: 70px;
}




/**--------------------------------------------RESPONSIVE--------------------------------------------**/

/**------------tablet------------**/
@media (max-width: 768px) {
    header {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(75, 97, 41));
        height: 70px;
    }

    .logo img {
        height: 100px;

    }

    .nav-bar {
        padding: 5px 10px;
        font-size: small;
        list-style: none;
        display: flex;
        flex-flow: row;
        gap: 20px;


    }

    main {
        background-image: url(../assets/img/tablet.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        gap: 10px;
        align-items: center;
    }

    .container h1 {
        padding-left: 90px;
    }

    .parrafo p {
        padding: 10px;
        padding-left: 230px;

    }

    footer {
        height: 70px;
        align-items: center;
        flex-direction: column;
    }

    .nosotros-main {
        background-image: url(../assets/img/ll.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        min-height: 100vh;
        display: flex;

    }

    .banner-index h1 {
        margin-left: 123px;
        font-size: 40px;
        margin-top: -116px;
        gap: 90px;

    }

    .articulo-1 {
        font-size: 35px;
        margin: 20px;
        margin-left: 68px;
    }

    .articulo-1 h2 {
        width: 15px;
        font-size: 15px;
    }

    .articulo-1 p {
        font-size: small;
    }

    .articulo-2 {
        font-size: 15px;
        margin: -252px;
        margin-left: 385px;
    }


    /**------------mobile------------**/
    @media (max-width: 576px) {

        header {
            background-image: linear-gradient(rgb(255, 255, 255), rgb(75, 97, 41));
            justify-content: center;
            padding-right: 52px;
            height: 80px;

        }

        .logo img {
            height: 150px;
        }

        .nav-bar {
            font-size: x-small;
            list-style: none;
            display: flex;
            flex-flow: row;
            gap: 15px;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            size-adjust: 10;
            position: center;

        }

        main {
            background-image: url(../assets/img/mobile.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            gap: 20px;
        }

        .container h1 {
            padding-right: 300px;
            font-size: medium;
        }

        .parrafo p {
            padding-right: 210px;
            padding: 10px;
            margin: 20px;
            font-size: small;
            width: 300px;
        }

        .boton button {
            margin: 10px;
            font-size: small;
        }

        footer {
            height: 80px;
            align-items: center;
            flex-direction: column;

        }

        .footer-img a {
            margin: 40px;
        }

        .nosotros-main {
            background-image: url(../assets/img/ll.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            position: fixed;
            min-height: 100vh;
            display: flex;

        }

        .banner-index h1 {
            margin-left: 103px;
            font-size: 30px;
            margin-top: -128px;

        }

        .articulo-1 {
            font-size: 35px;
            margin: 20px;
            margin-left: 22px;
        }
        .articulo-1 h2{
            margin: -12px;
            margin-left: -1px;
            padding-top: 34px;
        }
        .articulo-1 p{
            margin: -12px;
            margin-right: -250px;
            padding-top: 16px;
        }
        .articulo-2 {
            font-size: 15px;
            margin: -252px;
            margin-left: 385px;
        }
        .articulo-2 h3{
            margin: 9px;
            margin-left: -1px;
        }
        .articulo-2 p{
            margin: -12px;
            margin-left: -198px;
        }



    }
}